<div class="card bg-light" style="width: 100vp;">
    <img class="card-img-top" src="assets/img/test.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Title 1</h5>
      <h6 class="card-subtitle mb-2 text-muted">By Author</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="a-blog" class="card-link">Read more</a>
    </div>
</div>