<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/cropped-logo.png">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      The Initiative PH
      <!-- Your Logo -->
      <!-- <div class="logo-image-big">
            <img src="/assets/img/brand.png">
          </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="{{#if home_active}} active {{/if}}">
        <a href="cms-home">
          <i class="nc-icon nc-bullet-list-67"></i>
          <p>Website Toggles</p>
        </a>
      </li>
      <li {{#if application_active}}class="active " {{/if}}>
        <a href="cms-application">
          <i class="nc-icon nc-badge"></i>
          <p>Application</p>
        </a>
      </li>
      <li class="{{#if admin_active}} active {{/if}}">
        <a href="cms-admin">
          <i class="nc-icon nc-single-02"></i>
          <p>Add/Delete Admins</p>
        </a>
      </li>
      <li {{#if blog_active}}class="active " {{/if}}>
        <a href="cms-blog">
          <i class="nc-icon nc-laptop"></i>
          <p>Blog</p>
        </a>
      </li>
      <li {{#if project_active}}class="active " {{/if}}>
        <a href="cms-project">
          <i class="nc-icon nc-single-copy-04"></i>
          <p>Projects</p>
        </a>
      </li>
    </ul>
  </div>
</div>