<div class="content">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Website Toggles</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive text-center">
                    <table class="table text-left">
                      <thead class=" text-primary">
                        <th>
                          Page
                        </th>
                        <th class="text-right">
                          Switch
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            Home Page
                          </td>
                          <td class="text-right">
                            <select id="inputState" class="form-control">
                              <option selected>Allowed</option>
                              <option>Disabled</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            About Us Page
                          </td>
                          <td class="text-right">
                            <select id="inputState" class="form-control">
                              <option selected>Allowed</option>
                              <option>Disabled</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Volunteer Page
                          </td>
                          <td class="text-right">
                            <select id="inputState" class="form-control">
                              <option selected>Allowed</option>
                              <option>Disabled</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Project Page
                          </td>
                          <td class="text-right">
                            <select id="inputState" class="form-control">
                              <option selected>Allowed</option>
                              <option>Disabled</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Blog Page
                          </td>
                          <td class="text-right">
                            <select id="inputState" class="form-control">
                              <option selected>Allowed</option>
                              <option>Disabled</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Contact Us Page
                          </td>
                          <td class="text-right">
                            <select id="inputState" class="form-control">
                              <option selected>Allowed</option>
                              <option>Disabled</option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>