<footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
    <div class="container-fluid">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    &nbsp; © 2020 | Template by Creative Tim
                </span>
            </div>
        </div>
    </div>
</footer>