<!-- FOOTER -->
<footer class="footer">
  <div class="container-fluid text-center text-md-left py-3 px-4">
    <div class="row">
      <div class="col-md-6 mt-md-0">
        <img src="/assets/img/brand-line.png" width=340>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 d-flex flex-column justify-content-start align-self-center">
        <p>theinitiativeph@gmail.com</p>
        <div class="d-flex justify-content-md-start justify-content-center">
          <ul class="soc-list">
            <li>
              <a class="fb-ic soc-button" href="https://www.facebook.com/theinitiativeph" target="_blank">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-1x"></i>
              </a>
            </li>
            <li>
              <a class="tw-ic soc-button" href="https://twitter.com/theinitiativeph" target="_blank">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-1x"></i>
              </a>
            </li>
            <li>
              <a class="ins-ic soc-button" href="https://www.instagram.com/theinitiativeph/" target="_blank">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-1x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-2">© 2020 CSSWENG GROUP 3</div>
</footer>