<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
  <a class="navbar-brand" href="/home"><img src="/assets/img/brand-line.png" width="220"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item {{#if home_active}}active{{/if}}">
        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{#if about_active}}active{{/if}}">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item dropdown {{#if volunteer_active}}active{{/if}}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Volunteer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/pre-application">Pre-Application</a>
          <a class="dropdown-item" href="/application">Application</a>
        </div>
      </li>
      <li class="nav-item {{#if projects_active}}active{{/if}}">
        <a class="nav-link" href="/projects">Project</a>
      </li>
      <li class="nav-item {{#if blog_active}}active{{/if}}">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item {{#if contact_active}}active{{/if}}">
        <a class="nav-link" href="/contact-us">Contact Us</a>
      </li>
      <li class="nav-item {{#if donate_active}}active{{/if}}">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
    </ul>
  </div>
</nav>