<div class="container-fluid center">
    <div class="row p-5 mt-5 justify-content-center">
      <h5 class="font-weight-bold text-uppercase sub-title">404 Not Found</h5>
    </div>
	<div class="row mt-5 justify-content-center">
	  <p class="sub-caption p-1">
	    We couldn’t find the page you're looking for.<br>It may have been moved or not exist entirely
		<br>
		<br>
		Here are some suggested pages
		<br>
		
		{{#each links}}
	    <a href="{{this.path}}">{{this.name}}</a>
		
		{{#if @last}}
		{{else}}
		&bull;
		{{/if}}
		
		{{/each}}
		</p>
	</div>
</div>