<!-- HEADER -->
<section>
    <div class="container-fluid center">
        <div class="header-title text-center">
            <h5 class="font-weight-bold text-uppercase sub-title">{{this.blog_title}}</h5>
            <p class="sub-caption text-center" id="blog-datetime">{{this.blog_author}} | {{this.blog_date}}</p>
        </div>
    </div>
</section>

<!-- BODY -->
<div class="the-content">
    <p class="sub-caption">{{{this.blog_content}}}</p>
</div>
<br>
