<!-- HEADER -->
<section>
    <div class="container-fluid center">
        <div class="header-title text-center">
            <h5 class="font-weight-bold text-uppercase sub-title">BLOG TITLE</h5>
            <p class="sub-caption text-center" id="blog-datetime">January 24, 2020 | 6:00PM</p>
        </div>
    </div>
</section>

<!-- BODY -->
<div class="the-content">
    <p class="sub-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut efficitur lectus, volutpat
        viverra purus. Vivamus et ex non lorem dignissim luctus. Nullam eu orci arcu. Praesent facilisis tellus erat,
        quis mattis nunc eleifend ut. Vestibulum at eleifend velit, sit amet rutrum nisl. Aliquam erat volutpat. Etiam
        hendrerit libero a interdum auctor. Nam nec eleifend tortor. Aenean varius hendrerit justo vitae scelerisque.
        <br><br>
        Duis sed hendrerit felis. Fusce sed convallis velit. Duis maximus fringilla augue at sagittis. Donec nec nisl
        congue, interdum leo aliquet, blandit purus. Proin non mi porttitor, molestie nulla ullamcorper, tempor nibh.
        Maecenas vehicula dictum pharetra. Mauris vehicula blandit lacinia. Quisque commodo nunc non ex tempus posuere.
        Donec ut rutrum velit.
        <br><br>
        Aliquam id enim id justo varius congue in vel ipsum. Donec luctus purus id tincidunt ultrices. Sed in gravida
        justo, ut condimentum sem. Suspendisse gravida finibus convallis. Nunc commodo metus et volutpat finibus. Nullam
        at dignissim ligula. Vestibulum ut luctus lacus. Sed quis massa odio. Nulla facilisi. Vestibulum blandit
        pellentesque tortor a pharetra. Cras rutrum metus quis nisl tincidunt, quis tempus leo convallis. Duis quis
        elementum mauris.
        <br><br>
        Ut ut maximus ante. Nullam rutrum consectetur quam at malesuada. Nullam vestibulum mattis orci vitae tincidunt.
        Maecenas nulla quam, efficitur in arcu quis, lacinia fermentum sem. Sed volutpat sit amet lectus sit amet
        ullamcorper. Mauris ex mi, feugiat vel convallis in, sagittis eget ante. Vivamus lorem nibh, egestas ac quam
        vitae, tristique aliquam felis. Pellentesque pulvinar sapien ut condimentum faucibus.
        <br><br>
        Integer dapibus nisl vitae dictum faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia curae; Donec eu mi vehicula, feugiat justo ut, porttitor justo. Nullam porttitor, metus vitae
        convallis luctus, lectus dui malesuada mauris, maximus porta metus erat vitae leo. Integer massa nibh, egestas
        at aliquet at, egestas eu nunc. Cras vitae sapien consectetur, molestie nunc imperdiet, tempor ex. Donec a
        tempus urna.</p>
</div>
<br>