<!-- HEADER -->
<section>
  <div class="container-fluid px-0 center">
    <div class="row p-5 mt-5 justify-content-center">
      <h5 class="font-weight-bold text-uppercase sub-title">BLOG <i class="fa fa-newspaper-o"></i></h5>
      <p class="sub-caption p-3">
        We have an ever-expanding advocacy base that caters to the causes of those who take initiative with us.
        Our projects seek to address issues that arised within our country and at the same time, encourage the youth
        to become more aware on their role as a citizen with social responsibilities.
      </p>
    </div>
  </div>
</section>

<!-- BODY -->
<div class="container-fluid d-flex flex-lg-row flex-column justify-content-lg-between align-items-center p-3 mb-3">
  <div class="card bg-light" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/test.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Title 1</h5>
      <h6 class="card-subtitle mb-2 text-muted">By Author</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="a-blog" class="card-link">Read more</a>
    </div>
  </div>

  <div class="card bg-light" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/test.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Title 2</h5>
      <h6 class="card-subtitle mb-2 text-muted">By Author</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="a-blog" class="card-link">Read more</a>
    </div>
  </div>

  <div class="card bg-light" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/test.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Title 3</h5>
      <h6 class="card-subtitle mb-2 text-muted">By Author</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="a-blog" class="card-link">Read more</a>
    </div>
  </div>

  <div class="card bg-light" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/test.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Title 4</h5>
      <h6 class="card-subtitle mb-2 text-muted">By Author</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="a-blog" class="card-link">Read more</a>
    </div>
  </div>
</div>

<div class="container-fluid pb-4">
  <nav aria-label="news-pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>