<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <div class="row d-flex align-items-center">
              <div class="col">
                <h4 class="card-title">
                  Add, Delete, or Edit Admins
                </h4>
              </div>
              <div class="col text-right">
                <input type="text" id="cms-search" onkeyup="cms_search()" placeholder="Search..">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="cms-admin-new">
                  <button id="blogeditbtn" type="button" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i> Add a new admin
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left" id="pages-table">
                <thead class=" text-primary">
                  <th style="width:25%">
                    Name
                  </th>
                  <th class="text-left" style="width:20%">
                    Username
                  </th>
                  <th class="text-left" style="width:25%">
                    Department
                  </th>
                  <th class="text-right" style="width:15%">
                    Edit
                  </th>
                  <th class="text-right" style="width:15%">
                    Delete
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Juan Dela Cruz
                    </td>
                    <td class="admin-username">
                      juandelacruz
                    </td>
                    <td>
                      Administrative Affairs
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-danger">Delete</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Kang Seulgi
                    </td>
                    <td class="admin-username">
                      kang_seulgi
                    </td>
                    <td>
                      Publications and Communications
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-danger">Delete</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Oh Sehun
                    </td>
                    <td class="admin-username">
                      ohsehun
                    </td>
                    <td>
                      Marketing, Finance, and Logistics
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-danger">Delete</button></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>