<div class="content">
    <!-- Form -->
    <div class="content">
        <div class="cms-breadcrumbs text-uppercase pb-3">
            <a href="cms-admin">Admin</a> / New Admin
        </div>
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form method="POST" action="cms-admin-new">
                    <div class="card cms-blog">
                        <div class="card-header">
                            <h5>New Admin:</h5>
                        </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="admin_name">Full Name</label>
                                    <input type="text" class="form-control" id="admin_name" name="admin_name"
                                        placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <label for="admin_username">Username</label>
                                    <input type="text" class="form-control" id="admin_username" name="admin_username"
                                        placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="admin_password">Password</label>
                                    <input type="password" class="form-control" id="admin_password" name="admin_password">
                                </div>
                                <div class="form-group">
                                    <label for="admin_dept">Department</label>
                                    <select class="form-control" id="admin_dept" name="admin_dept">
                                        <option value="Administrative Affairs">Administrative Affairs</option>
                                        <option value="Publications and Communications">Publications and Communications
                                        </option>
                                        <option value="Marketing, Finance and Logistics">Marketing, Finance and Logistics
                                        </option>
                                        <option value="Operations">Operations</option>
                                        <option value="Animal and Environmental Welfare">Animal and Environmental Welfare
                                        </option>
                                        <option value="Marginalized Community Action">Marginalized Community Action</option>
                                        <option value="SOGIE Rights">SOGIE Rights</option>
                                        <option value="Mental Health">Mental Health</option>
                                        <option value="Project Taft">Project Taft</option>
                                        <option value="Project España">Project España</option>
                                        <option value="Project Katipunan">Project Katipunan</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="admin_main">Main Admin Privilege</label>
                                    <br>
                                        <input type="radio" id="main_yes" name="is_main" value="Yes">
                                        <label for="main_yes">Yes</label>
                                        <input type="radio" id="main_no" name="is_main" value="No" checked>
                                        <label for="main_no">No</label>
                                </div>
                                <button type="submit" class="btn btn-outline-success">SUBMIT</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

{{!-- <div class="cms-blog-form-container">
    <!-- Form -->
    <h6><strong> TITLE </strong></h6>
    <input type="text" name="cms-blog-title" id="cms-blog-title" class="cms-blog-form-text" placeholder="News Title"
        value required>
    <h6><strong> CONTENT </strong></h6>
    <textarea name="cms-blog-content" id="cms-blog-content" class="cms-blog-form-text" placeholder="Lorem ipsum" value
        required></textarea>
    <h6><strong> IMAGE </strong></h6>
    <input type='file' name='upload' class="cms-blog-form-text">
    <a href="cms-dashboard-b"><button name="cms-blog-submit" id="cms-blog-submit" class="button"><strong>S U B M I
                T</strong></button></a>
</div> --}}