<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Manage Volunteer Forms</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left">
                <thead class=" text-primary">
                  <th style="width:80%">
                    Page
                  </th>
                  <th class="text-center" style="width:10%">
                    Edit
                  </th>
                  <th class="text-center" style="width:10%">
                    Visible
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Pre-Application Form
                    </td>
                    <td class="text-right">
                      <a href="cms-edit-pre-application?id={{preappsform_id}}"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-center">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Application Form
                    </td>
                    <td class="text-right">
                      <a href="cms-edit-application?id={{appsform_id}}"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-center">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>