<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <div class="row d-flex align-items-center">
              <div class="col">
                <h4 class="card-title">
                  Blogs
                </h4>
              </div>
              <div class="col text-right">
                <input type="text" id="cms-search" onkeyup="cms_search()" placeholder="Search..">
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left blog-project-table" id="pages-table">
                <thead class=" text-primary">
                  <th style="width:80%">
                    Page
                  </th>
                  <th class="text-center" style="width:10%">
                    Edit
                  </th>
                  <th class="text-center" style="width:10%">
                    Published
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="entry-title">News Title 1</p>
                      <time class="entry-date">01/15/2020</time>
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="entry-title">News Title 2</p>
                      <time class="entry-date">03/15/2020</time>
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="entry-title">News Title 3</p>
                      <time class="entry-date">12/15/2020</time>
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="entry-title">News Title 4</p>
                      <time class="entry-date">02/15/2020</time>
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>