<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Blogs</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left">
                <thead class=" text-primary">
                  <th>
                    Page
                  </th>
                  <th class="text-right">
                    Switch
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      News 1 Title
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      News 2 Title
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      News 3 Title
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      News 4 Title
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      News 5 Title
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      News 6 Title
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>