<div class="content">
    <div class="cms-breadcrumbs text-uppercase pb-3">
        <a href="cms-applicant-overview">Manage Applicants</a> / <a href="cms-applicant-app">All Application
            Applicants</a> / Profile
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="card">
                    <div class="card-header">
                        {{!-- Applicant Name should be changed --}}
                        <h4 class="card-title">Applicant's Name Pre-Application Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive text-center">
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th style="width: 50%;">
                                        Personal Information
                                    </th>
                                    <th style="width: 50%;">
                                        Contact Details
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Name: test
                                        </td>
                                        <td>
                                            Contact Number: 09#########
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Nickname: test
                                        </td>
                                        <td>
                                            Email Address: email@email.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Date of Birth: 30/01/1999
                                        </td>
                                        <td>
                                            Facebook URL: facebook name
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            City of Residence: Sta. Rosa
                                        </td>
                                        <td>
                                            Twitter URL: optional
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            School/Company: DLSU
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            How did you find out about TIPH: indicate their choice
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Areas of Expertise
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        {{!-- Every new line should break to be more readable--}}
                                        <td>
                                            Legal Matters
                                            <br>File Organization
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th style="width: 50%;">
                                        Department Choice
                                    </th>
                                    <th style="width: 50%;">
                                        Desired Position
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Department of Mental Health
                                        </td>
                                        <td>
                                            Multimedia Artist
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Department of SOGIE Rights
                                        </td>
                                        <td>
                                            Multimedia Artist
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Reasons for Volunteering
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            I volunteer because....
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {{!-- Add Upload Code Here maybe on Sprint 3--}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>