<div class="content">
    <h5>Edit Application Form</h5>
    <div class="content">
        <div id="cms-app-form-container" class="row">
            <div class="col-md-12">
                <form method="get">
                    <div class="card cms-app">
<!--
                        <div class="card-header">
                            <h4 class="card-title">Application Form Introduction</h4>
                        </div>
-->
                        <div class="card-body">
                            <div class="form-group">
                                <p>Edit Introduction</p>
                                <div id="editor-container">
                                    <p>Application Form Introduction</p>
                                </div>    
                            </div>
                            <div class="form-group">
                                <p>Departments Open for Application and Positions</p>
                                <div class="div-choices sub-caption">
                                    <input type="checkbox" name="department" id="admin-affairs" value="admin-affairs" data-toggle="collapse" data-target="#pos-admin-affairs"> Department of Administrative Affairs (DAA) <br>
                                    <div class="dept-positions" id="pos-admin-affairs">
                                        <input type="checkbox" name="dept-pos" id=""> SOME POSITON <br>
                                    </div>

                                    <input type="checkbox" name="department" id="pub-comm" value="pub-comm" data-toggle="collapse" data-target="#pos-pub-comm"> Department of Publications and Communications (DPC) <br>
                                    <div class="dept-positions" id="pos-pub-comm">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id="pos-multimedia-artist" value="pos-multimedia-artist"> Multimedia Artist for DDMR, DMH, DSR, DI-PT, DI-PK, DI-PE <br>
                                            <input type="checkbox" name="dept-pos" id="pos-content-writer" value="pos-content-writer"> Content Writer for DDMR, DMH, DSR, DI-PT, DI-PK, DI-PE <br>
                                            <input type="checkbox" name="dept-pos" id="pos-photographer" value="pos-photographer"> Photographer for DDMR, DMCA, DAEW, DSR, DI-PT, DI-PK, DI-PE <br>
                                            <input type="checkbox" name="dept-pos" id="pos-videographer" value="pos-videographer"> Videographer for DDMR, DMCA, DAEW, DSR, DI-PT, DI-PK, DI-PE <br>
                                        </form>
                                    </div>

                                    <input type="checkbox" name="department" id="market-finance" value="market-finance" data-toggle="collapse" data-target="#pos-market-finance"> Department of Marketing and Finance (DMF) <br>
                                    <div class="dept-positions" id="pos-market-finance">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                        </form>
                                    </div>
                                    
                                    <input type="checkbox" name="department" id="disaster-mit" value="disaster-mit" data-toggle="collapse" data-target="#pos-disaster-mit"> Department of Disaster Mitigation and Recovery (DDMR) <br>
                                    <div class="dept-positions" id="pos-disaster-mit">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id="pos-external-rel" value="pos-external-rel"> External Relations Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-finance" value="pos-finance"> Finance Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-multimedia-disaster" value="pos-multimedia-disaster"> Multimedia Artists <br>
                                            <input type="checkbox" name="dept-pos" id="pos-content-disaster" value="pos-content-disaster"> Content Writers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-photog-disaster" value="pos-photog-disaster"> Photographers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-videog-disaster"> Videographers <br>
                                        </form>
                                    </div>
                                    
                                    <input type="checkbox" name="department" id="marginalized" value="marginalized" data-toggle="collapse" data-target="#pos-marginalized"> Department of Marginalized Community Action (DMCA) <br>
                                    <div class="dept-positions" id="pos-marginalized">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                        </form>
                                    </div>

                                    <input type="checkbox" name="department" id="animal-environment" value="animal-environment" data-toggle="collapse" data-target="#pos-animal-environment"> Department of Animal and Environmental Welfare (DAEW) <br>
                                    <div class="dept-positions" id="pos-animal-environment">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                        </form>
                                    </div>

                                    <input type="checkbox" name="department" id="sogie" value="sogie" data-toggle="collapse" data-target="#pos-sogie"> Department of SOGIE Rights (DSR) <br>
                                    <div class="dept-positions" id="pos-sogie">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id="pos-external-sogie" value="pos-external-sogie"> External Relations Officers (Partnerships Officers) <br>
                                            <input type="checkbox" name="dept-pos" id="pos-finance-sogie" value="pos-finance-sogie"> Finance Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-logistics-sogie" value="pos-logistics-sogie"> Logistics Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-marketing-sogie" value="pos-marketing-sogie"> Marketing Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-research-sogie" value="pos-research-sogie"> Research Officers <br>
                                        </form>
                                    </div>

                                    <input type="checkbox" name="department" id="proj-taft" value="proj-taft" data-toggle="collapse" data-target="#pos-proj-taft"> Department of Initiatives: Project Taft (DI-PT) <br>
                                    <div class="dept-positions" id="pos-proj-taft">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                        </form>
                                    </div>

                                    <input type="checkbox" name="department" id="proj-espana" value="proj-espana" data-toggle="collapse" data-target="#pos-proj-espana"> Department of Initiatives: Project España (DI-PE) <br>
                                    <div class="dept-positions" id="pos-proj-espana">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id="pos-external-espana" value="pos-external-espana"> External Relations Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-finance-espana" value="pos-finance-espana"> Finance Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-logistics-espana" value="pos-logistics-espana"> Logistics Officers <br>
                                            <input type="checkbox" name="dept-pos" id="pos-research-espana" value="pos-research-espana"> Research Officers <br>
                                        </form>
                                    </div>

                                    <input type="checkbox" name="department" id="proj-katipunan" value="proj-katipunan" data-toggle="collapse" data-target="#pos-proj-katipunan"> Department of Initiatives: Project Katipunan (DI-PK) <br>
                                    <div class="dept-positions" id="pos-proj-katipunan">
                                        <form method="get">
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                            <input type="checkbox" name="dept-pos" id=""> Some Position <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

<script>
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
              ['bold', 'italic'],
              ['link', 'blockquote', 'code-block', 'image'],
              [{ list: 'ordered' }, { list: 'bullet' }]
            ]
        },
        placeholder: 'Seize the day!',
        theme: 'snow'
    });
</script>
=======
</div>
>>>>>>> ffcefde7270d3db82affad93f8451b0be5f40cc9
