<div class="content">
    <!-- Form -->
    <div class="content">
        <div class="cms-breadcrumbs text-uppercase pb-3">
            <a href="cms-project">Project</a> / New Project Entry
        </div>
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form method="post" id="proj_form" enctype="multipart/form-data">
                    <div class="card cms-blog">
                        <div class="card-header">
                            <h5>New Project Page:</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="cms-font-text-error" id="project-error">{{projectErrorMessage}}</h5>
                            <div class="form-group">
                                <label for="proj_title">Title</label>
                                <input type="text" class="form-control" id="proj_title" name="proj_title"
                                    placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="proj_content">Content</label>
                                <input name="proj_content" type="hidden" id="proj_content">
                                <div id="proj-quill">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="proj_preview">Preview Caption</label>
                                <input type="text" class="form-control" id="proj_preview" name="proj_preview"
                                    placeholder="Preview Caption">
                            </div>
                            <div class="form-group">
                                <label for="proj_status">Status</label>
                                <select class="form-control" name="proj_status" id="proj_status">
                                    <option value="Proposed">Proposed</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Ongoing">Ongoing</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="proj_keywords">Keyword</label>
                                <input type="text" class="form-control" id="proj_keywords" name="proj_keywords"
                                    placeholder="Keywords">
                            </div>
                            <div class="pb-2">
                                <div class="preview-images proj-cover-preview"></div>
                                <label for="proj_cover">Cover Photo</label>
                                <input type="file" id="proj_cover" class="proj-cover" accept="image/*" />
                            </div>

                            <input name="_id" type="hidden" id="_id">

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-outline-success">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    div.preview-images>img {
        width: 30%;
    }
</style>

<script>
    var timestamp = (new Date().getTime() / 1000 | 0).toString(16);
    var id = timestamp + 'xxxxxxxxxxxxxxxx'.replace(/[x]/g, function () {
        return (Math.random() * 16 | 0).toString(16);
    }).toLowerCase();
    document.getElementById("proj_cover").name = "proj_cover" + id;
    document.getElementById("_id").value = id;

    $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length;
                for (i = 0; i < 1; i++) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $($.parseHTML("<img>"))
                            .attr("src", event.target.result)
                            .appendTo(placeToInsertImagePreview);
                    };
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };

        $("#proj_cover").on("change", function () {
            $(".proj-cover-preview").empty();
            imagesPreview(this, "div.proj-cover-preview");
        });
    });

    //cms-proj-new-page quill
    var projQuill = new Quill('#proj-quill', {
        modules: {
            toolbar: [
                ['bold', 'italic'], ,
                [{ list: 'ordered' }]
            ]
        },
        placeholder: 'Insert body here.',
        theme: 'snow'
    });

    var proj_form = document.getElementById("proj_form");
    proj_form.onsubmit = function () {
        var proj_content = document.querySelector('input[name=proj_content]');
        proj_content.value = projQuill.root.innerHTML;
        console.log(proj_content);
        return true;
    };
</script>