<div class="content">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Projects</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive text-center">
                    <table class="table text-left">
                      <thead class=" text-primary">
                        <th>
                          Page
                        </th>
                        <th class="text-right">
                          Switch
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            Project 1 Title
                          </td>
                          <td class="text-right">
                            <a href="cms-project-page"><button id="blogeditbtn" type="button" class="btn btn-outline-success">Edit</button></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Project 2 Title
                          </td>
                          <td class="text-right">
                            <a href="cms-project-page"><button id="blogeditbtn" type="button" class="btn btn-outline-success">Edit</button></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Project 3 Title
                          </td>
                          <td class="text-right">
                            <a href="cms-project-page"><button id="blogeditbtn" type="button" class="btn btn-outline-success">Edit</button></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Project 4 Title
                          </td>
                          <td class="text-right">
                            <a href="cms-project-page"><button id="blogeditbtn" type="button" class="btn btn-outline-success">Edit</button></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Project 5 Title
                          </td>
                          <td class="text-right">
                            <a href="cms-project-page"><button id="blogeditbtn" type="button" class="btn btn-outline-success">Edit</button></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Project 6 Title
                          </td>
                          <td class="text-right">
                            <a href="cms-project-page"><button id="blogeditbtn" type="button" class="btn btn-outline-success">Edit</button></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>