<div class="content">
    <h5>EDITING: </h5><h3>Project 1 Title</h3>
    <!-- Form -->
    <h6 class="mt-3"><strong> TITLE </strong></h6>
    <input type="text" name="cms-blog-title" id="cms-blog-title" class="cms-blog-form-text" placeholder="Project Title" style="min-width: 60%">
    
    <h6 class="mt-3"><strong> CONTENT </strong></h6>
    <textarea name="cms-blog-content" id="cms-blog-content" class="cms-blog-form-text" placeholder="Lorem ipsum" style="min-width: 80%">
    </textarea>

    <h6 class="mt-3"><strong> IMAGE </strong></h6>
    <input type='file' name='upload' class="cms-blog-form-text">

    <a href="cms-dashboard-p"><button name="cms-blog-submit" id="cms-blog-submit" class="button"><strong>S U B M I T</strong></button></a>
</div>