<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Manage Applicants</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive text-center">
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Application Applicants
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            All Applicants
                                        </td>
                                        <td class="text-right">
                                            <a href="cms-applicant-app">
                                                <button id="blogeditbtn" type="button" class="btn btn-outline-success">
                                                    View
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Pending Applicants
                                        </td>
                                        <td class="text-right">
                                            <a href="cms-applicant-app-pending">
                                                <button id="blogeditbtn" type="button" class="btn btn-outline-success">
                                                    View
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Accepted Applicants
                                        </td>
                                        <td class="text-right">
                                            <a href="cms-applicant-app-accepted">
                                                <button id="blogeditbtn" type="button" class="btn btn-outline-success">
                                                    View
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Rejected Applicants
                                        </td>
                                        <td class="text-right">
                                            <a href="cms-applicant-app-rejected">
                                                <button id="blogeditbtn" type="button" class="btn btn-outline-success">
                                                    View
                                                </button>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>