<html>
<head>
    <meta charset="utf-8" />
    <title>The Initiative PH - CMS Home Page</title>

    <link rel="stylesheet" type="text/css" media="all" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="bg-color">

    {{>navbar}}
    
    <!-- HEADER -->
    <section>
      <div class="container-fluid px-0 center">
        <div class="row p-5 mt-5 justify-content-center">
          <h5 class="font-weight-bold text-uppercase sub-title">CMS <i class="far fa-window-restore"></i></h5>
        </div>
      </div>
    </section>

    <!-- BODY -->
    <div class="container-fluid p-4 mb-3">
      <div id="accordion">

        <!-- Website Toggler -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Website Toggles
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form>
                <div class="form-group row">
                  <label for="colFormLabel" class="col-sm-2 col-form-label">Home</label>
                  <div class="col-sm-10">
                    <select id="inputState" class="form-control">
                      <option selected>Allowed</option>
                      <option>Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabel" class="col-sm-2 col-form-label">About Us</label>
                  <div class="col-sm-10">
                    <select id="inputState" class="form-control">
                      <option selected>Allowed</option>
                      <option>Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabel" class="col-sm-2 col-form-label">Volunteer</label>
                  <div class="col-sm-10">
                    <select id="inputState" class="form-control">
                      <option selected>Allowed</option>
                      <option>Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabel" class="col-sm-2 col-form-label">Project</label>
                  <div class="col-sm-10">
                    <select id="inputState" class="form-control">
                      <option selected>Allowed</option>
                      <option>Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabel" class="col-sm-2 col-form-label">Blog</label>
                  <div class="col-sm-10">
                    <select id="inputState" class="form-control">
                      <option selected>Allowed</option>
                      <option>Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="colFormLabel" class="col-sm-2 col-form-label">Contact Us</label>
                  <div class="col-sm-10">
                    <select id="inputState" class="form-control">
                      <option selected>Allowed</option>
                      <option>Disabled</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Projects Editor -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Projects Editor
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="row m-2 py-2">
                <div class="col-10">
                  <h4>Projects 1 Title</h5>
                </div>
                <div class="col-2 text-right">
                  <button type="submit" class="btn btn-outline-success">Edit</button>
                </div>
              </div>
              <hr/>
              <div class="row m-2 py-2">
                <div class="col-10">
                  <h4>Projects 2 Title</h5>
                </div>
                <div class="col-2 text-right">
                  <button type="submit" class="btn btn-outline-success">Edit</button>
                </div>
              </div>
              <hr/>
              <div class="row m-2 py-2">
                <div class="col-10">
                  <h4>Projects 3 Title</h5>
                </div>
                <div class="col-2 text-right">
                  <button type="submit" class="btn btn-outline-success">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- News Editor -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                News Editor
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="row m-2 py-2">
                <div class="col-10">
                  <h4>News 1 Title</h5>
                </div>
                <div class="col-2 text-right">
                  <button id="news-edit-btn" type="submit" class="btn btn-outline-success">Edit</button>
                </div>
              </div>
              <hr/>
              <div class="row m-2 py-2">
                <div class="col-10">
                  <h4>News 2 Title</h5>
                </div>
                <div class="col-2 text-right">
                  <button id="news-edit-btn" type="submit" class="btn btn-outline-success">Edit</button>
                </div>
              </div>
              <hr/>
              <div class="row m-2 py-2">
                <div class="col-10">
                  <h4>News 3 Title</h5>
                </div>
                <div class="col-2 text-right">
                  <button id="news-edit-btn" type="submit" class="btn btn-outline-success">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Applications Editor -->
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Applications Editor
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}

</body>
</html>