<div class="content">
    <h5>New Project Page:</h5>
    <!-- Form -->
    <div class="content">
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card cms-blog">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input type="text" class="form-control" id="proj_title" name="proj_title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Content</label>
                                <input name="proj_content" type="hidden" id="proj_content">
                                <div id="proj-quill">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Keywords</label>
                                <input type="text" class="form-control" id="proj_keywords" name="proj_keywords" placeholder="Keywords">
                            </div>
                            <div class="pb-2">
                                <label for="exampleFormControlFile1">Cover Photo</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                            <button type="submit" class="btn btn-outline-success">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>