<form id="cmslogin" method="POST">
    <div class="cms-login-container">
        <div class="cms-login-form-container">
            <label for="cmsusername" class="cms-font-text"><strong> Username </strong></label>
            <br>
            <input type="text" name="cmsusername" id="cmsusername" class="cms-login-form-text" required>
            <br>
            <label for="cmspassword" class="cms-font-text"><strong> Password </strong></label>
            <br>
            <input type="password" name="cmspassword" id="cmspassword" class="cms-login-form-text" required>
            <br>
            <h5 class="cms-font-text-error">{{#if login_active}}{{loginErrorMessage}}{{/if}}</h5>
            <br>
            <input type="submit" name="cmssubmit" id="cmssubmit" class="button" value="L O G I N">
        </div>
    </div>
</form>