<div class="content">
    <!-- Form -->
    <div class="content">
        <div class="cms-breadcrumbs text-uppercase pb-3">
            <a href="cms-blog">Blog</a> / Edit Blog Entry
        </div>
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form>
                    <div class="card cms-blog">
                        <div class="card-header">
                            <h5>Edit Blog Entry:</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="blog_title">New Title</label>
                                <input type="text" class="form-control" id="blog_title"
                                    placeholder="New Title" value="{{this.blog_title}}">
                            </div>
                            <div class="form-group">
                                <label for="blog_content">Content</label>
                                <input name="blog_content" type="hidden" id="blog_content">
                                <div id="blog-quill">
                                </div>
                            </div>
                            <div class="pb-2">
                                <label for="exampleFormControlFile1">Cover Photo</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                            <button type="submit" class="btn btn-outline-success">SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>