<div class="content">
    <div class="cms-breadcrumbs text-uppercase pb-3">
        <a href="cms-applicant-overview">Manage Applicants</a> / <a href="cms-applicant-pre">All Pre-Application
            Applicants</a> / Profile
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="card">
                    <div class="card-header">
                        {{!-- Applicant Name should be changed --}}
                        <h4 class="card-title">Applicant's Name Pre-Application Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive text-center">
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Personal Information
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Name: test
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Age: 19
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            School/Company: DLSU
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Affilation with School/Company: Student
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Contact Details
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Contact Number: 09#########
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email Address: email@email.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Facebook URL: facebook name
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Mode of Notification: depends on the application answer
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Comments
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Put comments here!
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table text-left">
                                <thead class="text-primary">
                                    <th>
                                        Do you accept or reject this pre-applicant?
                                    </th>
                                    <tr>
                                        <td>
                                            <a href="">
                                                <button id="blogeditbtn" type="button" class="btn btn-outline-success">
                                                 Accept
                                                </button>
                                            </a>
                                            <a href="">
                                                <button id="blogeditbtn" type="button" class="btn btn-outline-danger">
                                                    Reject
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>