<div class="content">
    <h5>New Blog Entry:</h5>
    <!-- Form -->
    <div class="content">
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form>
                    <div class="card cms-blog">
                        <div class="card-body">
                           <!-- <form method="post" action="/addBlog"> -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Title</label>
                                    <input type="text" class="form-control" id="blog_title" placeholder="Title" name="blog_title">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Content</label>
                                    <input name="blog_content" type="hidden" id="blog_content">
                                    <div id="editor-container">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Keywords</label>
                                    <input type="text" class="form-control" id="blog_keywords"
                                        placeholder="Keywords" name="blog_keywords">
                                </div>
                                <div class="pb-2">
                                    <label for="exampleFormControlFile1">Cover Photo</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <button type="submit" class="btn btn-outline-success" id="addBlog">SUBMIT</button>
                            <!--</form>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

{{!-- <div class="cms-blog-form-container">
    <!-- Form -->
    <h6><strong> TITLE </strong></h6>
    <input type="text" name="cms-blog-title" id="cms-blog-title" class="cms-blog-form-text" placeholder="News Title"
        value required>
    <h6><strong> CONTENT </strong></h6>
    <textarea name="cms-blog-content" id="cms-blog-content" class="cms-blog-form-text" placeholder="Lorem ipsum" value
        required></textarea>
    <h6><strong> IMAGE </strong></h6>
    <input type='file' name='upload' class="cms-blog-form-text">
    <a href="cms-dashboard-b"><button name="cms-blog-submit" id="cms-blog-submit" class="button"><strong>S U B M I
                T</strong></button></a>
</div> --}}