<div class="top-contact-container">
  <!-- Hold the two assets together -->

  <div class="contact-container">

    <div class="contact-us-container">
      <!-- Contact Us Texts -->
      <h1 class="contact-font-header"><strong>CONTACT US</strong></h1>
      <h5 class="contact-font-texts">
        Want to have a partnership with us for an initiative? <br>
        Feel free to message us the details and try to attach a <i><b>Memorandum of Agreement</b></i> or
        <i><b>Memorandum of Understanding</b></i> to process your request faster.<br>
        <br>
        If you have any concerns that is related to one of our departments and would like to message them directly,
        you may refer to our <a href="#"><i><strong>directory</strong></i></a>.
      </h5>
      <br>
      <h5 class="contact-font-texts"> theinitiativeph@gmail.com </h5>
    </div>

    <!-- <form> -->

    <div class="contact-form-container">
      <!-- Form -->
      <h6 class="contact-font-texts"><strong> SUBJECT</strong></h6>
      <input type="text" name="contact-subject" id="contact-subject" class="contact-form-text" value required>
      <h6 class="contact-font-texts"><strong> NAME</strong></h6>
      <input type="text" name="contact-name" id="contact-name" class="contact-form-text" value required>
      <h6 class="contact-font-texts"><strong>INQUIRY</strong></h6>
      <input type="text" name="contact-inquiry" id="contact-inquiry" class="contact-form-text" value required>
      <input type='file' name='upload' class="contact-form-upload">
      <button name="contact-submit" id="contact-submit" class="contact-button contact-font-texts"><strong>S U B M I
          T</strong></button>
    </div>

    <!-- </form> -->

  </div>

</div>