<div class="top-contact-container">
  <!-- Hold the two assets together -->

  <div class="contact-container flex-md-row flex-column">

    <div class="contact-us-container">
      <!-- Contact Us Texts -->
      <h1 class="font-weight-bold text-uppercase sub-title"><strong>CONTACT US <i
            class="fas fa-address-book"></i></strong></h1>
      <br>
      <h5 class="contact-font-texts">
        Want to have a partnership with us for an initiative? <br><br>
        Feel free to message us the details and try to attach a <i><b>Memorandum of Agreement</b></i> or
        <i><b>Memorandum of Understanding</b></i> to process your request faster.<br>
        <br>
        If you have any concerns that is related to one of our departments and would like to message them directly,
        you may refer to our <a href="about"><i><strong>directory</strong></i></a>.
      </h5>
    </div>

    <!-- <form> -->

    <div class="contact-form-container">
      <form class="needs-validation" novalidate>
        <h6 class="contact-font-texts"><strong> SUBJECT</strong></h6>
        <input type="text" name="contact-subject" id="contact-subject" class="contact-form-text " value required>

        <h6 class="contact-font-texts"><strong> NAME</strong></h6>
        <input type="text" name="contact-name" id="contact-name" class="contact-form-text ">

        <h6 class="contact-font-texts"><strong> EMAIL</strong></h6>
        <input type="text" name="contact-email" id="contact-email" class="contact-form-text " value required>

        <h6 class="contact-font-texts"><strong>INQUIRY</strong></h6>
        <textarea name="contact-inquiry" id="contact-inquiry" class="contact-form-text " value required></textarea>

        <h6 class="contact-font-texts"><strong>FOR MOA/MOU</strong></h6>
        <input type='file' name='upload' class="contact-form-upload">
        <button type="submit" name="contact-submit" id="contact-submit"
          class="contact-button contact-font-texts"><strong>S U B M I T</strong></button>
      </form>

    </div>

    <!-- </form> -->

  </div>

</div>