<div class="top-contact-container">
  <!-- Hold the two assets together -->

  <div class="contact-container">

    <div class="support-container">
      <!-- Donate Texts -->
      <h1 class="font-weight-bold text-uppercase sub-title"><strong>Support Us</i></strong></h1>
      <br>
      <h5 class="contact-font-texts">
        Should you want to support TIPH without becoming a full-fledged member, you may do the following: <br><br>
        Like and follow our social media accounts on 
        <a href="https://www.facebook.com/theinitiativeph"><i><strong>Facebook</strong></i></a>,
        <a href="https://twitter.com/theinitiativeph"><i><strong>Twitter</strong></i></a>, and
        <a href="https://www.instagram.com/theinitiativeph/"><i><strong>Instagram</strong></i></a>.
        Actively share TIPH's posts to boost them to the public. <br><br>
        Donate stock donations for urgent projects, or to donate your goods to specific projects.
        <br><br>
        Attend our activites and events. You may join us in the complete confidence that all proceeds go to TIPH causes.
        <br><br>
        Offer partnerships or sponsorships. Microsponsorships from individuals, families, and informal groups are accepted!
      </h5>
    </div>

    <div class="donate-container">
      <!-- Donate Texts -->
      <h1 class="font-weight-bold text-uppercase sub-title"><strong>Donation</i></strong></h1>
      <br>
      <h5 class="contact-font-texts">
        Should you want to support TIPH with cash or goods, you may send it to the following: <br><br>
        <b>GCash</b> <br> Name: name <br> Number: contact # <br><br>
        <b>PayMaya</b> <br> Account Name: name <br> Number: contact # <br><br>
        <b>BDO</b> <br> Account Name: name <br> Account No.: account # <br><br>
        <b>BPI</b> <br> Account Name: name <br> Account No.: account # <br><br>
        <b>PayPal</b> <br> Email: email <br><br>
      </h5>
    </div>

  </div>

</div>