<div class="top-contact-container text-center">
  <!-- Hold the two assets together -->

  
    
    <div class="container">
    <h1 class="font-weight-bold text-uppercase sub-title"><strong>Support Us</i></strong></h1>
    <div class="row mar-top-20">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
        </span>
        <p>Like and follow our social media accounts: </p>
          <a class="fb-ic soc-button" href="https://www.facebook.com/theinitiativeph">
            <i class="fab fa-facebook-square fa-3x mar-left-8"></i>
          </a>
          <a class="tw-ic soc-button" href="https://twitter.com/theinitiativeph">
            <i class="fab fa-twitter-square fa-3x mar-left-8"></i>
          </a>
          <a class="ins-ic soc-button" href="https://www.instagram.com/theinitiativeph/">
            <i class="fab fa-instagram-square fa-3x mar-left-8"></i>
          </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-share-square fa-stack-1x fa-inverse"></i>
        </span>
        <p>Actively share TIPH's posts to boost them to the public</p>
      </div>
       <div class="col-xs-12 col-sm-12 col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
        </span>
        <p>Attend our activites and events! <br>You may join us in the complete confidence that all proceeds go to TIPH causes!</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
        </span>
        <p>Offer partnerships or sponsorships. <br>Microsponsorships from individuals, families, and informal groups are accepted!</p>
      </div>
    </div>
    </div>

    
    <div class="container">
    <h1 class="font-weight-bold text-uppercase sub-title mar-top-40"><strong>Donate to Us</i></strong></h1>
    <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body card-gcash">
            <img src="assets/img/gcash.png" width="80px">
            <h5 class="card-title white-font">GCash</h5>
            <p><strong>Account Name: </strong><br>John Doe</p>
            <p><strong>Contact Number:</strong><br>09## - ### - ####</p>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 w-100 p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body card-paymaya">
            <img src="assets/img/paymaya.png" width="70px">
            <h5 class="card-title white-font">PayMaya</h5>
            <p><strong>Account Name: </strong><br>John Doe</p>
            <p><strong>Contact Number:</strong><br>09## - ### - ####</p>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 w-100 p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body card-bdo">
            <img src="assets/img/bdo.png" width="100px">
            <h5 class="card-title white-font">BDO</h5>
            <p><strong>Account Name: </strong><br>John Doe</p>
            <p><strong>Account No.:</strong><br>######</p>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 w-100 p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body card-bpi">
            <img src="assets/img/bpi.png" width="85px">
            <h5 class="card-title white-font">BPI</h5>
            <p><strong>Account Name: </strong><br>John Doe</p>
            <p><strong>Account No.:</strong><br>######</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
    <!--
    <div class="contact-container">
    <div class="support-container">
      <h1 class="font-weight-bold text-uppercase sub-title"><strong>Support Us</i></strong></h1>
      <br>
      <h5 class="contact-font-texts">
        Should you want to support TIPH without becoming a full-fledged member, you may do the following: <br><br>
        Like and follow our social media accounts on
        <a href="https://www.facebook.com/theinitiativeph"><i><strong>Facebook</strong></i></a>,
        <a href="https://twitter.com/theinitiativeph"><i><strong>Twitter</strong></i></a>, and
        <a href="https://www.instagram.com/theinitiativeph/"><i><strong>Instagram</strong></i></a>.
        Actively share TIPH's posts to boost them to the public. <br><br>
        Donate stock donations for urgent projects, or to donate your goods to specific projects.
        <br><br>
        Attend our activites and events. You may join us in the complete confidence that all proceeds go to TIPH causes.
        <br><br>
        Offer partnerships or sponsorships. Microsponsorships from individuals, families, and informal groups are
        accepted!
      </h5>
    </div>

    <div class="donate-container">
      <h1 class="font-weight-bold text-uppercase sub-title"><strong>Donation</i></strong></h1>
      <br>
      <h5 class="contact-font-texts">
        Should you want to support TIPH with cash or goods, you may send it to the following: <br><br>
        <b>GCash</b> <br> Name: name <br> Number: contact # <br><br>
        <b>PayMaya</b> <br> Account Name: name <br> Number: contact # <br><br>
        <b>BDO</b> <br> Account Name: name <br> Account No.: account # <br><br>
        <b>BPI</b> <br> Account Name: name <br> Account No.: account # <br><br>
        <b>PayPal</b> <br> Email: email <br><br>
      </h5>
    </div>
    </div>
    -->
