<!-- HEADER -->
<section>
  <div class="container-fluid px-0 box center">
    <div class="header-home d-flex justify-content-center align-items-center">
      <div class="header-text">
        <p style="font-weight: bold;">THE INITIATIVE PH</span>
        <p class="header-sub">Since 2016</p>
      </div>
    </div>
  </div>
</section>

<!-- BODY -->
<div class="container-fluid">
  <div class="row p-5 my-5">
    <div class="col">
      <h5 class="font-weight-bold text-uppercase sub-title">What we do</h5>
      <p class="sub-caption">
        The Initiative PH (TIPH) is a youth-run, non-profit volunteer organization that coordinates relief efforts and
        organizes sustainable programs
        for poverty-, calamity-, and conflict- ridden areas and communities in the Philippines.
      </p>
      <a href='about'><button type="button" class="btn btn-outline-secondary">Learn More</button></a>
    </div>
    <div class="col-lg">
      <img src="assets/img/1.png" width=100%>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5 my-5">
    <div class="col">
      <img src="assets/img/1.png" width=100%>
    </div>
    <div class="col-lg">
      <h5 class="font-weight-bold text-uppercase sub-title">Our Objectives</h5>
      <p class="sub-caption">
        <i class="fas fa-hands-helping"></i> Coordinate relief efforts for those in immediate need
        <br><br>
        <i class="fas fa-users-cog"></i> Organize sustainable programs for vulnerable communities in the Philippines
        <br><br>
        <i class="fas fa-bullhorn"></i> Promote timely advocacies in constant pursuit of development through pertinent
        projects and policies
        <br><br>
        <i class="fas fa-people-carry"></i> Enable the youth by giving them opportunities to realize their potential
        through formative training and active response to Philippine realities
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5 my-5">
    <div class="col">
      <h5 class="font-weight-bold text-uppercase sub-title">Our Goals</h5>
      <p class="sub-caption">
        Our short term goal is to assist poverty-, calamity-, and conflict- affected Filipino areas and communities,
        envisioning an entire organization of Filipino youth who are driven towards awareness and action and who know
        how to aid their fellow countrymen.
        <br>
        <br>
        For our long term goal, we want to be a contributor in making youth volunteerism and social involvement a norm
        for all youth nationwide, aiming to shape generation after generation of initiative, collaborative,
        compassionate, empathetic, honest, and open individuals.
      </p>
    </div>
    <div class="col-lg">
      <img src="assets/img/1.png" width=100%>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5 my-5">
    <div class="col">
      <img src="assets/img/1.png" width=100%>
    </div>
    <div class="col-lg">
      <h5 class="font-weight-bold text-uppercase sub-title">Volunteer Applications</h5>
      <p class="sub-caption">
        Want to make a change? TIPH is looking for more volunteers that will help our cause
        on building sustainable projects that will aid communities facing different
        challenges across the country.
      </p>
      <button type="button" class="btn btn-outline-secondary disabled">Learn More</button>
    </div>
  </div>
</div>