<div class="container-fluid m-auto pb-5" style="text-align: center">
    <!-- HEADER -->
    <h5 class="font-weight-bold text-uppercase sub-title pt-5" style="margin-top: 20px;">PRE-APPLICATION FORM</h5>
    <h6 class="font-weight-bold apps-sub-header" id="app_year">{{preform_year}}</h6>

    <!-- INFO -->
    <div class="object-container sub-caption">
        {{{preform_desc}}}
    </div>
</div>
<div class="container-fluid m-auto px-5">
    <form class="needs-validation" method="POST" action="pre-application" novalidate>
        <h6 class="apps-sub-header pb-1" style="font-size: 20px;">Let's know the basics about you!</h6>
        <div class="sub-caption">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pre-lastname">Last Name</label>
                    <input type="text" class="form-control" name="pre_lastname" id="pre_lastname"
                        placeholder="Last Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="pre-firstname">First Name</label>
                    <input type="text" class="form-control" name="pre_firstname" id="pre_firstname"
                        placeholder="First Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pre-age">Age</label>
                    <input type="number" class="form-control" name="pre_age" id="pre_age" placeholder="Age" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="pre-number">Contact Number</label>
                    <input type="tel" class="form-control" name="pre_number" id="pre_number"
                        placeholder="Contact Number" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pre-email">Email</label>
                    <input type="email" class="form-control" name="pre_email" id="pre_email" placeholder="Email"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="pre-schoolcompany">School/Company</label>
                    <input type="text" class="form-control" name="pre_schoolcompany" id="pre_schoolcompany"
                        placeholder="School/Company" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pre-affiliation">Affiliation with School/Company</label>
                    <input type="text" class="form-control" name="pre_affiliation" id="pre_affiliation"
                        placeholder="Affiliation with School/Company" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="pre-facebook">Facebook URL</label>
                    <input type="url" class="form-control" name="pre_facebook" id="pre_facebook"
                        placeholder="Facebook URL" required>
                </div>
            </div>
        </div>

        <h6 class="apps-sub-header pt-4 pb-1" style="font-size: 20px;">Where do you want to be notified regarding your
            application?</h6>
        <div class="sub-caption" style="font-size: 17px;">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="notify-email" name="pre_notify" value="E-mail"
                    required>
                <label class="form-check-label" for="notify-email">E-mail</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="notify-facebook" name="pre_notify"
                    value="Facebook Messenger" required>
                <label class="form-check-label" for="notify-facebook">Facebook Messenger</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="notify-number" name="pre_notify"
                    value="Mobile Number via Text Message" required>
                <label class="form-check-label" for="notify-number">Mobile Number via Text Message</label>
            </div>
        </div>

        <h6 class="apps-sub-header pt-4 pb-1" style="font-size: 20px;">Do you have any comments?</h6>
        <textarea class="form-control" id="pre_comments" name="pre_comments" rows="3"></textarea>

        <div class="row m-auto pt-5 pb-4">
            <div class="col text-center">
                {{!-- <button class="btn btn-success" type="submit"><strong>SUBMIT</strong></button> --}}
                <button id="addPreApp" class="apps-button apps-font-texts" type="submit"><strong>S U B M I T</strong></button>
                <br><br>
                <h4 class="cms-font-text-error" id="preapp-error">{{preappErrorMessage}}</h4>
            </div>
        </div>
    </form>
    {{!-- <div class="form-container">
            <div class="div-last-first div-flex">
                <div class="div-lastname">
                    <input type="text" name="pre-lastname" id="pre-lastname" class="pre-form-text width" value required>
                    <h6 class="font-weight-bold">LAST NAME</h6>
                </div>
                <div class="div-firstname margin-left">
                        <input type="text" name="pre-firstname" id="pre-firstname" class="pre-form-text width" value required>
                    <h6 class="font-weight-bold">FIRST NAME</h6>
                </div>
            </div>
            <div class="div-age-number div-flex">
                <div class="div-age">
                    <input type="number" name="pre-age" id="pre-age" class="width">
                    <h6 class="font-weight-bold">AGE</h6>
                </div>
                <div class="div-number margin-left">
                    <input type="tel" name="pre-number" id="pre-number" class="width">
                    <h6 class="font-weight-bold">CONTACT NUMBER</h6>
                </div>
            </div>
            <div class="div-email-schoolcompany div-flex">
                <div class="div-email">
                    <input type="email" name="pre-email" id="pre-email" class="pre-form-text width" value required>
                    <h6 class="font-weight-bold">EMAIL</h6>
                </div>
                <div class="div-school-company margin-left">
                    <input type="text" name="pre-schoolcompany" id="pre-schoolcompany" class="pre-form-text width">
                    <h6 class="font-weight-bold">SCHOOL/COMPANY</h6>
                </div>
            </div>
            <div class="div-affiliation-facebook div-flex">
                <div class="div-affiliation">
                    <input type="text" name="pre-affiliation" id="pre-affiliation" class="width">
                    <h6 class="font-weight-bold">AFFILIATION WITH SCHOOL/COMPANY</h6>
                    <p class="sub-caption" style="margin-top: -10px;">e.g. Grade 11 / 1st year BS Business Management / Intern</p>
                </div>
                <div class="div-facebook ">
                    <input type="url" name="pre-facebook" id="pre-facebook" class="width">
                    <h6 class="font-weight-bold">FACEBOOK URL</h6>
                </div>
            </div>
            <br><br> --}}
    {{!-- <div class="div-notify-comments">
            <div class="div-notify">
                <h6 class="apps-sub-header" style="font-size: 20px;">Where do you want to be notified regarding your application?</h6>
                <div class="sub-caption" style="margin-left: 60px; font-size: 17px;">
                    <input type="radio" id="notify-email" name="notify-choice" value="notify-email"> E-mail <br>
                    <input type="radio" id="notify-facebook" name="notify-choice" value="notify-facebook"> Facebook Messenger <br>
                    <input type="radio" id="notify-email" name="notify-choice" value="notify-email"> Mobile Number via Text Message <br>
                </div>
            </div><br>
            <div class="div-comments">
                <h6 class="apps-sub-header" style="font-size: 20px;">Do you have any comments?</h6>
                <textarea name="paragraph_text" cols="50" rows="8" style="margin-bottom: 20px; margin-left: 16%;"></textarea>
            </div>
        </div>
    </div> 
    <textarea name="paragraph_text" cols="50" rows="8" ></textarea>
    --}}
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>