<html>
<head>
    <meta charset="utf-8" />
    <title>The Initiative PH - Home</title>

    <link rel="stylesheet" type="text/css" media="all" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="bg-color">

    {{>navbar}}

    <!-- TITLE -->
    <div class="container-fluid">
      <div class="row p-5 border-bottom border-secondary">
        <div class="col">
          <h5 class="font-weight-bold text-uppercase header-title-2 text-center">Our Projects</h5>
          <p class="sub-caption">
            We have an ever-expanding advocacy base that caters to the causes of those who take initiative with us.
            Our projects seek to address issues that arised within our country and at the same time, encourage the youth
            to become more aware on their role as a citizen with social responsibilities. 
          </p>
        </div>
      </div>
    </div>

    <!-- CARD -->      
      <div class="row p-5">
        <div class="row mx-5">
          <div class="row mx-5">
            <div class="row p-5 border rounded bg-light">
              <h5 class="font-weight-bold sub-title">Project Lumad</h5>
              <p class="pl-4"><br>Established on March 7, 2020</p>
              <p class="sub-caption">
                Project Lumad advocates for the Lumad students’ right to claim education by supporting their Bakwit school through fundraising money to provide food packages and hygiene kits to the 111 student and teacher residents safe inside the University of the Philippines Diliman. 
                With the pandemic depleting their already limited resources, threatening the students and teachers with hunger and disease, Project Lumad asks you to help save the school by sharing aid. 
              </p>
              <button type="button" class="btn btn-outline-secondary">Continue Reading</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-5">
        <div class="row mx-5">
          <div class="row mx-5">
            <div class="row p-5 border rounded bg-light">
              <h5 class="font-weight-bold sub-title">Project Pagsibol</h5>
              <p class="pl-4"><br>Established April 8, 2020</p>
              <p class="sub-caption">
                Project Pagsibol is a donation drive by The Scarecrow PH, in partnership with The Initiative PH, to help farmers who are affected by the COVID-19 crisis. Through donations, Project Pagsibol aims to procure relief packages to upland farmers.
              </p>
              <button type="button" class="btn btn-outline-secondary">Continue Reading</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-5">
        <div class="row mx-5">
          <div class="row mx-5">
            <div class="row p-5 border rounded bg-light">
              <h5 class="font-weight-bold sub-title">Hatid Kapatid</h5>
              <p class="pl-4"><br>Established March 30, 2020</p>
              <p class="sub-caption">
                Hatid Kapatid is an independent youth volunteer effort organized to provide financial and information aid to taxi and ride-hailing app drivers in Metro Manila affected by the COVID-19 pandemic.
              </p>
              <button type="button" class="btn btn-outline-secondary">Continue Reading</button>
            </div>
          </div>
        </div>
      </div>
      
    {{>footer}}

</body>
</html>