<!-- TITLE -->
{{!-- <div class="container-fluid">
  <div class="row p-5 border-bottom border-secondary">
    <div class="col">
      <h5 class="font-weight-bold text-uppercase sub-title text-center">Our Projects</h5>
      <p class="sub-caption">
        We have an ever-expanding advocacy base that caters to the causes of those who take initiative with us.
        Our projects seek to address issues that arised within our country and at the same time, encourage the youth
        to become more aware on their role as a citizen with social responsibilities.
      </p>
    </div>
  </div>
</div> --}}
<section>
  <div class="container-fluid center">
    <div class="row p-5 mt-5 justify-content-center">
      <h5 class="font-weight-bold text-uppercase sub-title">Our Projects</i></h5>
      <p class="sub-caption p-3">
        We have an ever-expanding advocacy base that caters to the causes of those who take initiative with us.
        Our projects seek to address issues that arised within our country and at the same time, encourage the youth
        to become more aware on their role as a citizen with social responsibilities.
      </p>
    </div>
  </div>
</section>

<!-- CARD -->
<div class="row p-auto py-3">
  <div class="row mx-5">
    <div class="row mx-5">
      <div class="row p-5 border rounded bg-light">
        <div class="col-lg-7">
          <h5 class="font-weight-bold sub-title">Project Lumad</h5>
          <p class="project-subtitle">Established on March 7, 2020</p>
          <p class="sub-caption">
            Project Lumad advocates for the Lumad students’ right to claim education by supporting their Bakwit school
            through fundraising money to provide food packages and hygiene kits to the 111 student and teacher residents
            safe inside the University of the Philippines Diliman.
            With the pandemic depleting their already limited resources, threatening the students and teachers with
            hunger
            and disease, Project Lumad asks you to help save the school by sharing aid.
          </p>
          <a href="a-project"> <button class="btn btn-outline-secondary">Continue Reading</button></a>
        </div>
        <div class="col-5 d-none d-lg-block">
          <img src="assets/img/1.png" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row p-auto py-3">
  <div class="row mx-5">
    <div class="row mx-5">
      <div class="row p-5 border rounded bg-light">
        <div class="col-lg-7">
          <h5 class="font-weight-bold sub-title">Project Pagsibol</h5>
          <p class="project-subtitle"><br>Established April 8, 2020</p>
          <p class="sub-caption">
            Project Pagsibol is a donation drive by The Scarecrow PH, in partnership with The Initiative PH, to help
            farmers who are affected by the COVID-19 crisis. Through donations, Project Pagsibol aims to procure relief
            packages to upland farmers.
          </p>
          <a href="a-project"><button type="button" class="btn btn-outline-secondary">Continue Reading</button></a>
        </div>
        <div class="col-5 d-none d-lg-block">
          <img src="assets/img/1.png" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row p-auto py-3">
  <div class="row mx-5">
    <div class="row mx-5">
      <div class="row p-5 border rounded bg-light">
        <div class="col-lg-7">
          <h5 class="font-weight-bold sub-title">Hatid Kapatid</h5>
          <p class="project-subtitle"><br>Established March 30, 2020</p>
          <p class="sub-caption">
            Hatid Kapatid is an independent youth volunteer effort organized to provide financial and information aid to
            taxi and ride-hailing app drivers in Metro Manila affected by the COVID-19 pandemic.
          </p>
          <a href="a-project"><button type="button" class="btn btn-outline-secondary">Continue Reading</button></a>
        </div>
        <div class="col-5 d-none d-lg-block">
          <img src="assets/img/1.png" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SPACER -->
<div class="py-4"></div>