/* Main Navigation */
.main-nav-button:hover {
    color:green !important;
    text-decoration: none;
}

.logout-button:hover{
    color:red !important;
    text-decoration: none; 
}

.nav-item{
    padding: 8px;
}



/* Switch Slider Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* CMS Breadcrumbs */
.cms-breadcrumbs {
    font-size: 11px;
    font-weight: 600;
    color: gray;
    text-transform: uppercase;
}

.cms-breadcrumbs a {
    color: green;
}

/* Search */
#cms-search {
    height: 50%;
    width: 50%; /* Full-width */
    font-size: 13px; /* Increase font-size */
    padding: 12px 12px 12px 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
  }

/* Edit App Form */
.dept-positions{
    display: none;
    font-weight: 400;
    margin-left: 40px;
}

.div-choices{
    font-weight: 520;
    margin-left: 50px;
    overflow-y: scroll;
    height: 300px;
}

/* Blog */
.cms-blog-container{
    display: relative;
    padding: 6vw;
    box-sizing: border-box;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .cms-blog-form-container{
      background-color: #f8f9fa;
      width: 50%;
      padding: 50px;
      border-radius: 4px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Montserrat";
  }
  
  .cms-blog-form-text{
      width: 100%;
      margin-bottom: 30px;
      border-radius: 2px;
      border: 1px solid #ccc
  }
  
  #cms-blog-content{
      height: 1000px !important;
  }
  
  .cms-blog .card-body .form-group textarea{
      height: 300px;
  }
  
  #editor {
    height: 130px;
  }
  
  .button {
      margin-top: 10px;
      position: relative;
      background-color: #173b41;
      border-radius: 10px;
      border: none;
      font-family: "Montserrat";
      font-size: 16px;
      color: #FFFFFF;
      width: 128px;
      height: 56px;
      text-align: center;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .button:after {
      content: "";
      background: #f1f1f1;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    
    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }

    th {
        color: green;
    }

    .blog-project-table tbody {
        line-height: auto;
    }

    .entry-title {
        font-weight: 600;
    }

    .entry-date {
        font-size: 12px;
    }

    .entry-progress {
        font-size: 12px;
    }

/* Admin */
.admin-username {
    font-style: italic;
}

/* Tables */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}