
.contact-us-container a{
    color: black !important;
    text-decoration: none;
}

.top-contact-container{
    display: relative;
    padding: 6vw;
    box-sizing: border-box;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-us-container{
    width: 40%;
    display: block;
    text-align: justify;
}

.contact-form-container{
    background-color: #f8f9fa;
    width: 50%;
    padding: 50px;
    border-radius: 4px;
}

.contact-form-text{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 2px;
    border: 1px solid #ccc
}

#contact-inquiry{
    height: 152px;
}

.contact-font-header{
    font-family: "Roboto";
}

.contact-font-texts{
    font-family: "Montserrat";
}

.button {
    margin-top: 30px;
    position: relative;
    background-color: #173b41;
    border-radius: 10px;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    color: #FFFFFF;
    width: 128px;
    height: 56px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }