/* Home */

.bg-color {
  background-color: #eeede0;
}

.navbar { 
  background-color: #a67f46; 
  font-family: "Montserrat";
  font-weight: 400;
  font-size: small;
}

.dropdown-menu {
  background-color: #a67f46 !important; 
  font-family: "Montserrat" !important;
  font-weight: 400 !important;
  font-size: small !important;
}

.dropdown-item {
  color: white !important;
  
}

.dropdown-item:hover {
  background-color: #876739 !important; 
}

.header-home {
  background-image: url(../img/test.jpg);
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-blend-mode:lighten
}

.header-text {
  position: absolute;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 2.7em;
  line-height: 1em;
  width: 60vw;
  max-width:500px;
  color: white;
}

.header-sub {
  font-size: 0.4em;
}

.sub-title {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 45px;
  color: #0c5865;
}

.sub-caption {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #242424;
}

.sub-header {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 30px;
  color: #173b41;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-title {
  font-family: "Montserrat";
  font-weight: bold;
  color: #0c5865;
  text-transform: uppercase;
}

.card-subtitle {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1em;
}

.card-text {
  font-family: "Roboto";
  font-size: 0.8em;
}

.card-body {
  font-family: "Roboto";
}

.card-link {
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #0c5865;
}

.pagination {
  font-family: "Montserrat";
  font-weight: 500;
}

.btn-link {
  font-family: "Montserrat" !important;
  font-weight: 500 !important;
  color: #0c5865 !important;
}

ul li{
  list-style-type: none;
}

.object-container {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
}

.collapsible {
    background-color: #a67f46;
    width: 70%;
    padding: 15px;
    color: white;
    text-align: left;
    border: none;
}

.active, .collapsible:hover {
    background-color: #876739;
}

.navbar-collapse li{
  padding-left: 8px;
  padding-right: 8px;
}

.content {
    padding: 0 10px;
    padding-top: 10px;
    display: none;
    overflow: hidden;
    background-color: #a67f46;
    color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

.btn:hover {
  color: #0c5865;
}

.disabled {
  cursor: not-allowed !important;
}

footer {
  font-family: "Montserrat";
  background-color: #dabd7e;
  color: white;
}

.footer-copyright {
  font-size: 10px;
  background-color: #a67f46;
}

.soc-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.soc-list li {
	float: left;
}

.soc-list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.soc-button {
  color: white;
}

.soc-button:hover {
  color: #0c5865;
}

/* About */

.sub-header{
  margin-left: 215px;
  margin-top: 15px;
}

/* Contact Us */
.contact-us-container a{
  color: black !important;
  text-decoration: none;
}

.top-contact-container{
  display: relative;
  padding: 6vw;
  box-sizing: border-box;
}

.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us-container{
  width: 40%;
  display: block;
  text-align: justify;
}

.contact-form-container{
  background-color: #f8f9fa;
  width: 50%;
  padding: 50px;
  border-radius: 4px;
}

.contact-form-text{
  width: 100%;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #ccc
}

#contact-inquiry{
  height: 152px;
}

.contact-font-header{
  font-family: "Roboto";
}

.contact-font-texts{
  font-family: "Montserrat";
}


.contact-button {
  margin-top: 30px;
  position: relative;
  background-color: #173b41;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  color: #FFFFFF;
  width: 128px;
  height: 56px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

.contact-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.contact-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* Pre Application & Application */

.form-width{
  min-width: 600px;
  overflow: auto;
}

.pos-width-bot{
  min-width: 50%;
  margin-bottom: 15px;
}

.text-center{
  text-align: center;
}

.mar-top-20{
  margin-top: 20px;
}

.mar-top--10{
  margin-top: -10px;
}

.mar-left-90{
  margin-left: 90px;
}

.mar-left-56{
  margin-left: 56px;
}

.font-sze-20{
  font-size: 20px;
}

.sub-caption-style{
  margin-left: 60px; 
  font-size: 17px;
}

.sub-caption-style-1{
  margin-top: 10px;
  margin-left: 6px;
}


.sub-caption-style-2{
  font-size: 20px; 
  margin-top: 15px; 
}

.sub-caption-style-3{
  font-size: 20px; 
  margin-top: 15px;
}

.textarea-margins{
  margin-bottom: 20px; 
  margin-left: 16%;
}
.div-flex{
  display: flex;
  margin-top: 15px;
  position: relative;
  flex-flow: row wrap;
}

.form-container{
  display: block;
  width: 85%;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin-left: auto;
}

.width{
  width: 400px;
  padding: 5px;
}

.width-auto{
  width: auto;
}

.margin-left{
  margin-left: 20px;
}

ul{
  list-style-type: none;    
}

.div-notify-comments{
  align-content: center;
  justify-content: center;
  margin: auto;
}

.subcaption input:focus{
  border: 3px solid #0c5865;
}

.div-expertise{
  display: block
}

#comment-txt{
  margin-bottom: 20px;
  margin-left: 86px
}

.div-comments textarea:focus{
  border: 3px solid #0c5865;
  padding: 8px;
}

.div-comments textarea{
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.dept-positions{
  display: none;
  font-weight: 450;
  margin-left: 40px;
}

.div-choices{
  font-weight: bold;
  margin-left: 50px;
}

.cms-app-container{
  margin-left: 25%;
}

#intro-txt{
  margin-left: 10%
}

.specify-border{
  display:none; 
  margin-top: 15px; 
  border-color: red"
}

.submit{
  position: relative;
  background-color: #173b41;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  width: 128px;
  height: 56px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45%;
  margin-bottom: 20px;
  margin-top: 30px;
}


