star{
  color: #EB5E28;
}

/* Login */
.cms-login-container{
  display: relative;
  padding: 6vw;
  box-sizing: border-box;
  height: 70%;
}

.cms-login-form-container{
  background-color: #f8f9fa;
  padding: 50px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cms-login-form-text{
  width: 200px;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #ccc
}

.cms-font-text{
  font-family: "Montserrat";
}

.cms-font-text-error{
  font-family: "Montserrat";
  font-size: 12px;
  color: red;
}

.button{
  width: 100%;
  height: 40px;
  background-color: #173b41;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 8px;
}

/* Home */

.bg-color {
  background-color: #eeede0;
}

.navbar { 
  background-color: #a67f46; 
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.dropdown-menu {
  background-color: #a67f46 !important; 
  font-family: "Montserrat" !important;
  font-weight: 400 !important;
  font-size: small !important;
}

.dropdown-item {
  color: white !important;
  
}

.dropdown-item:hover {
  background-color: #876739 !important; 
}

.header-home {
  background-image: url(../img/test.jpg);
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-blend-mode:lighten
}

.header-text {
  position: absolute;
  padding-bottom: 0.5em;
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 2.7em;
  line-height: 1em;
  width: 60vw;
  max-width:500px;
  color: white;
}

.header-sub {
  font-size: 0.4em;
}

.sub-title {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 45px;
  color: #0c5865;
}

.sub-caption {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #242424;
  text-align: justify;
}



.sub-header {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 30px;
  color: #0c5865;
}

#carouselExampleIndicators {
  font-family: "Montserrat";
}

.carousel-inner img {
  transition: .5s ease;
  background-color: black !important;
  opacity: 0.6;
}

.carousel-inner img:hover {
  transition: .5s ease;
  opacity: 1;
}

/* Blog */

.blog-sort-b{
    background-color: #0c5865 !important;
}

.sort-by:hover{
    background-color: #043841 !important;
}

.hr-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-title {
  font-family: "Montserrat";
  font-weight: bold;
  color: #0c5865;
  text-transform: uppercase;
}

.card-subtitle {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1em;
}

.card-text {
  font-family: "Roboto";
  font-size: 0.8em;
}

.card-body {
  font-family: "Roboto";
}

.card-link {
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #0c5865;
}

.pagination {
  font-family: "Montserrat";
  font-weight: 500;
}

.pagination > li > a
{
    background-color: white;
    color: #0c5865;
}

.btn-link {
  font-family: "Montserrat" !important;
  font-weight: 500 !important;
  color: #0c5865 !important;
}

ul li{
  list-style-type: none;
}

.object-container {
    position: relative;
    text-align: left;
    width: 80%;
    margin: auto;
}

.collapsible {
    background-color: #a67f46;
    width: 100%;
    padding: 15px;
    color: white;
    text-align: left;
    border: none;
}

.active, .collapsible:hover {
    background-color: #876739;
}

.navbar-collapse li{
  padding-left: 8px;
  padding-right: 8px;
}

.content {
    padding: 0 10px;
    padding-top: 10px;
    /* display: none; */
    overflow: hidden;
    background-color: #a67f46;
    color: white;
    width: 100%;
    /* margin: auto; */
    /* margin-bottom: 20px; */
    text-align: center;
}

.btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

.btn:hover {
  color: #0c5865;
}

.disabled {
  cursor: not-allowed !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

footer {
  font-family: "Montserrat";
  background-color: #dabd7e;
  color: white;
}

.footer-copyright {
  font-size: 10px;
  background-color: #a67f46;
}

.soc-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.soc-list li {
	float: left;
}

.soc-list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.soc-button {
  color: white;
}

.soc-button:hover {
  color: #0c5865;
}

/* About */
.about-us-acc{
  margin-bottom: 24px;
}

.about-us-acc .content {
  text-align: justify;
}

.sub-header{
  /* margin-left: 24px; */
  margin-top: 16px;
  /*margin-left: 215px;
  margin-top: 15px;*/
}

/* Blog/News Content */

.the-content{
    position: relative;
    width: 70%;
    margin: auto;
    line-height: 2;
}

.header-title{
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.prev-next{
    margin-top: 400px;
}

.width-70{
    width: 70%;
}

/* Contact Us */
.contact-us-container a{
  color: black !important;
  text-decoration: none;
}

.top-contact-container{
  display: relative;
  padding: 6vw;
  box-sizing: border-box;
}

.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us-container{
  width: 100%;
  margin: 20px;
  display: block;
  text-align: justify;
}

.contact-form-container{
  background-color: #f8f9fa;
  width: 100%;
  margin: 20px;
  padding: 50px;
  border-radius: 4px;
}

.contact-form-container input {
  padding: 0.2em; 
  box-sizing: border-box;
  width: 100% 
} 

.contact-form-text{
  width: 100%;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

#contact-inquiry{
  height: 70px;
  overflow: auto;
  resize: vertical;
}

.contact-font-header{
  font-family: "Roboto";
}

.contact-font-texts{
  font-family: "Montserrat";
  font-size: 1em;
}

.contact-button {
  margin-top: 30px;
  position: relative;
  background-color: #173b41;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  color: #FFFFFF;
  width: 128px;
  height: 56px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

.contact-button:hover{
  background-color: #0c5865;
}

.contact-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.contact-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* Projects */
.project-subtitle {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    color: #242424;
}

/* Donate */
.support-container{
  width: 40%;
  display: block;
  text-align: justify;
}

.donate-container{
  width: 50%;
  padding: 50px;
  border-radius: 4px;
}

/* Pre Application & Application */

.apps-sub-header{
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 30px;
  color: #173b41;
  margin-left: 0%;
}

.apps-deptchoice-font{
  font-family: "Montserrat";
  font-size: 20px;
}

.apps-button {
  margin-top: 30px;
  /* position: relative; */
  background-color: #173b41;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  color: #FFFFFF;
  width: 128px;
  height: 56px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 10px;
  /* float: right; */
}
.apps-button:hover {
  background-color: #0c5865;
}

.apps-font-texts{
  font-family: "Montserrat";
  font-size: 1em;
}

.form-width{
  min-width: 600px;
  overflow: auto;
}

.pos-width-bot{
  min-width: 50%;
  margin-bottom: 15px;
}

.text-center{
  text-align: center;
}

.mar-top-20{
  margin-top: 20px;
}

.mar-top-40{
  margin-top: 40px;
}

.mar-top--10{
  margin-top: -10px;
}

.mar-left-8{
  margin-left: 8px;
}

.mar-left-40{
  margin-left: 40px;
}

.mar-left-90{
  margin-left: 90px;
}

.mar-left-56{
  margin-left: 56px;
}

.font-sze-20{
  font-size: 20px;
}

.sub-caption-style{
  margin-left: 60px; 
  font-size: 17px;
}

.sub-caption-style-1{
  margin-top: 10px;
  margin-left: 6px;
}


.sub-caption-style-2{
  font-size: 20px; 
  margin-top: 15px; 
}

.sub-caption-style-3{
  font-size: 20px; 
  margin-top: 15px;
}

.textarea-margins{
  margin-bottom: 20px; 
  margin-left: 16%;
}
.div-flex{
  display: flex;
  margin-top: 15px;
  position: relative;
  flex-flow: row wrap;
}

.form-container{
  display: block;
  width: 85%;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin-left: auto;
}

.width{
  width: 400px;
  padding: 5px;
}

.width-auto{
  width: auto;
}

.margin-left{
  margin-left: 20px;
}

ul{
  list-style-type: none;    
}

.div-notify-comments{
  align-content: center;
  justify-content: center;
  margin: auto;
}

.subcaption input:focus{
  border: 3px solid #0c5865;
}

.div-expertise{
  display: block
}

#comment-txt{
  margin-bottom: 20px;
  margin-left: 86px
}

.div-comments textarea:focus{
  border: 3px solid #0c5865;
  padding: 8px;
}

.div-comments textarea{
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

#intro-txt{
  margin-left: 10%
}

.specify-border{
  display:none; 
  margin-top: 15px; 
  border-color: red"
}

.submit{
  position: relative;
  background-color: #173b41;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  width: 128px;
  height: 56px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45%;
  margin-bottom: 20px;
  margin-top: 30px;
}

#cmssubmit {
  transition-duration: 0.4s;
}

#cmssubmit:hover {
  transition-duration: 0.4s;
  background-color: #0c5865;
}


/* Donate Icon */
.fa-circle{
  color: #0c5865 !important;
}

.fa-facebook-square{
  color: #0c5865 !important; 
}

.fa-instagram-square{
  color: #0c5865 !important; 
}

.fa-twitter-square{
  color: #0c5865 !important; 
}

.white-font{
  color: white!important;
}

.donation-card{
  min-width: 300px;
  max-width: 300px;
}

.card-gcash{
  min-width: 250px;
  max-width: 250px;
  background-color:	#007dfe;
  color: white;
}

.card-paymaya{
  min-width: 250px;
  max-width: 250px;
  background-color:	#00344e;
  color: white;
}

.card-bdo{
  min-width: 250px;
  max-width: 250px;
  background-color:	#0b2972;
  color: white;
}

.card-bpi{
  min-width: 250px;
  max-width: 250px;
  background-color:	#b20000;
  color: white;
}



