.div-flex{
    display: flex;
    margin-top: 15px;
}

.form-container{
    display: block;
}

.width{
    width: 620px;
}

.margin-left{
    margin-left: 20px;
}

ul{
    list-style-type: none;    
}

.div-expertise{
    display: block
}

.submit{
    position: relative;
    background-color: #173b41;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    width: 128px;
    height: 56px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 30px;
}