.bg-color {
  background-color: #eeede0;
}

.bg-white{
    background-color: white;
    padding: 20px;
}

.navbar { 
  background-color: #a67f46; 
  font-family: "Montserrat";
  font-weight: 400;
  font-size: small;
}

.centered-text {
  position: absolute;
  top: 38%;
  width: 100%;
  text-align: center;
}

.header-img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.header-title {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 4vw;
  color: white;
}

.sub-title {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 45px;
  color: #0c5865;
}

.sub-caption {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #242424;
}

.sub-header {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 30px;
    color: #173b41;
}

.object-container {
    background-color: #a67f46;
    margin: auto;
    width: 70%;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
}

.btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

.btn:hover {
  color: #0c5865;
}

.disabled {
  cursor: not-allowed !important;
}

footer {
  font-family: "Montserrat";
  background-color: #dabd7e;
  color: white;
}

.footer-copyright {
  font-size: 10px;
  background-color: #a67f46;
}

.soc-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.soc-list li {
	float: left;
}

.soc-list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.soc-button {
  color: white;
}

.soc-button:hover {
  color: #0c5865;
}

