.bg-color {
  background-color: #eeede0;
}

.bg-white{
    background-color: white;
    padding: 20px;
}

.navbar { 
  background-color: #a67f46; 
  font-family: "Montserrat";
  font-weight: 400;
  font-size: small;
}

.dropdown-menu {
  background-color: #a67f46 !important; 
  font-family: "Montserrat" !important;
  font-weight: 400 !important;
  font-size: small !important;
}

.dropdown-item {
  color: white !important;
  
}

.dropdown-item:hover {
  background-color: #876739 !important; 
}

.header-home {
  background-image: url(../img/test.jpg);
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-blend-mode:lighten
}

.header-text {
  position: absolute;
  padding-bottom: 1em;
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 2.7em;
  line-height: 1em;
  width: 60vw;
  max-width:500px;
  color: white;
}

.header-sub {
  font-size: 0.4em;
}

.sub-title {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 45px;
  color: #0c5865;
}

.sub-caption {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #242424;
}

.sub-header {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 30px;
    color: #173b41;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li{
  list-style-type: none;
}

.object-container {
    position: relative;
    text-align: center;
}

.collapsible {
    background-color: #a67f46;
    width: 70%;
    padding: 15px;
    color: white;
    text-align: left;
    border: none;
}

.active, .collapsible:hover {
    background-color: #876739;
}

.content {
    padding: 0 10px;
    padding-top: 10px;
    display: none;
    overflow: hidden;
    background-color: #a67f46;
    color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

.btn:hover {
  color: #0c5865;
}

.disabled {
  cursor: not-allowed !important;
}

footer {
  font-family: "Montserrat";
  background-color: #dabd7e;
  color: white;
}

.footer-copyright {
  font-size: 10px;
  background-color: #a67f46;
}

.soc-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.soc-list li {
	float: left;
}

.soc-list li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.soc-button {
  color: white;
}

.soc-button:hover {
  color: #0c5865;
}

